@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat Subrayada", "sans-serif";
}

  .hide-scrollbar::-webkit-scrollbar,  .Aside_hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar,  .Aside_hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }